@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Surfs Up</h1>
    <p>Lavet Af Gruppe 2</p>
    <img src="/Images/Gigachad.jpg" alt="Gigachad" width="460" height="500">
</div>
